<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Абитуриент</title>
    <link type="text/css" media="screen" rel="stylesheet" href="/static/styles/reset.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="/static/styles/main.css" />
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/jquery.maskedinput-1.3.min.js"></script>
</head>
<body>
<div id="header">
    <h1><a href="/">Абитуриент <strong>2012</strong></a></h1>
    <ul>
        <li><a href="/abit/list/" class="active">Список заявок</a></li>
        <li><a href="/abit/add/">Добавить заявку</a></li>
        <li><a href="/abit/rating/">Рейтинг</a></li>
        <li class="last-item"><a href="/abit/init/">Инициализация</a></li>
    </ul>
    <p><a href="/admin/">Администрирование</a><a href="#">Выход</a></p>
</div>
<div id="content">
    <div id="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
    <ul>
        <li><a href="/abit/list/" class="first-item">Список заявок</a></li>
        <li><a href="/abit/add/">Добавить заявку</a></li>
        <li><a href="/abit/rating/">Рейтинг</a></li>
        <li class="last-item"><a href="/abit/init/">Инициализация</a></li>
    </ul>
    <p>Copyright &copy; 2012 Yanzay. All rights reserved.</p>
    </div>
</div>
</body>
</html>